/*a css file to hold all styles for the general layout 
of the site*/

p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
}

/*Removes all margin from everything in the body*/
