.uber-button {
  background-color: #000000;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  width: 105px;
}

.amazon-button {
  background-color: yellow;
  border-radius: 30px;
  height: 36px;
  width: 150px;
  border-color: yellow;
  box-shadow: none;
}
