.uber-button {
  background-color: #000000;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: opacity 0.15s;
}

.uber-button:hover {
  opacity: 0.7;
}

.amazon-button {
  background-color: yellow;
  border-radius: 30px;
  border-color: yellow;
  box-shadow: none;
  transition: background-color 0.15s;
  cursor: pointer;
}

.amazon-button:hover {
  background-color: rgb(114, 113, 37);
}

/*Task 4 modify tasks start here*/

.uber-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}
