p {
  font-family: arial;
}

/*p targets all paragraphs*/

.video-title {
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5;
}

/*font-family changes the font of the text, font-size changes the size of the 
text, font weight changes the boldness of the text, font style can change the
style of the text, text-align changes how you want the text to be aligned, width
changes how far apart the text can be before starting a new line, line height
changes the spacing inbetween lines. */

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 20px;
}

/*Paragraphs by deafualt come with margins*/

.video-author {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.video-description {
  color: rgb(96, 96, 96);
  font-size: 14px;
  width: 280px;
  line-height: 22px;
  margin-top: 0;
}
