.name {
  display: block;
}

.email {
  margin-bottom: 20px;
  display: block;
}

.customer-support {
  width: 200px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 20px;
}

.first-name {
  width: 90px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: grey;
  border-width: 1px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.last-name {
  width: 90px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: grey;
  border-width: 1px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.email2 {
  display: block;
  width: 196px;
  border-radius: 5px;
  border-color: grey;
  border-width: 1px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.sign-up-button {
  width: 207px;
  color: white;
  font-weight: bold;
  background-color: rgb(52, 131, 215);
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-width: 0;
}
