.subscribe-button {
  background-color: rgb(204, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

/* 'subscribe-button' is a class selector, it shows which elements we are targeting */

/* the <style> command is not needed */

/* 'button' is a selector, it shows which elements we are targeting */
/* 'background-color' is a property, it shows which property we are changing */
/* 'red' is a value, it shows what we are changing the property to */
/* 'red' is a color value, it can be a color name, hex code, or rgb value */
/* 'px' is a unit of measurement, it shows how many pixels we are using */

.join-button {
  background-color: rgb(255, 255, 255);
  border-color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  color: rgb(41, 118, 211);
  border-radius: 2px;
  cursor: pointer;
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-left: 8px;
}

/* A general rule is that when adding border radius to a button for a rounded effect,
 the value should be half of the height of the button. For example, if the height of 
 the button is 36px, the border radius should be 18px. */

/*Lesson 3 start*/

.subscribe-button {
  transition: opacity 0.15s;
}

.subscribe-button:hover {
  opacity: 0.8;
}

.subscribe-button:active {
  opacity: 0.5;
}

/* the transition property takes two values, the first one is what we want to transition, 
and the second one is how long the transition will take. A typical good transition time is
0.15s. */

/* :hover means that all the styles in that box only happen once the button is hovered
over. This is a pseudo class, it adds extra styles over a certain condition. Another 
example could be active, which changes the styles when the button is pressed.*/

/* opacity is css property that changes how pale or dark the item in question is, and it 
takes values from 0 to 1. a value of 1 means the element is normal, lower numbers make 
the object lighter. */

.join-button {
  transition: background-color 0.15s, color 0.15s;
}

.join-button:hover {
  background-color: rgb(41, 118, 211);
  color: rgb(255, 255, 255);
}

.join-button:active {
  opacity: 0.7;
}

/* To add an extra property to transition, you can seperate them with a comma. */

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.tweet-button {
  transition: box-shadow 0.15s;
}

/* box-shadow creates a shadow underneath the box. It has three values, the first value 
determins the horizontal position of the value, the second value sets the verticle position
of the shadow, the third value is the blur. The last part is the colour.

/* rgba is very similar to rgb, except it has an a value. the first three values are the same
as they would be on rgb, the last value, a, is the opacity. */

/*Lesson 4 start*/

/*To get a perfect code for a colour from a website, use two fingers to click on the right of
the trackpad, and then go to inspect, and find compute, scroll to find the exact value*/

.subscribe-button {
  margin-left: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

.tweet-button {
  vertical-align: top;
}

/*margin creates an area of empty space around the element. It can be added on all sides.*/

/*Setting a height and width for elements like buttons is not a good idea because if the inside
text changes, the height and width will not change. Instead, use padding, which will add space
around the text of the button, and the border will run along the outside of the text.*/

/*Vertical align aligns the element on whichever horizontal you choose*/

.join-button {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
}

/*The join button has a 1px border, therefore a reduction of 1px on the top and the bottom padding
is needed to be aligned with the other buttons*/

.tweet-button {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
}
