.search-bar {
  display: block;
}

.thumbnail {
  width: 300px;
  display: block;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-author {
  font-size: 12px;
  color: rgb (96, 96, 96);
  margin-bottom: 4px;
}

.video-stats {
  font-size: 12px;
  color: rgb (96, 96, 96);
}

/*img has its own properties that can be applied to it. One of these is called object-fit. This
changes the size of the object without distorting it when width and height are set. One value could
be cover, which only shows the selected amount of pixels for that shape, and cuts out some of it. 
Another could be contain, which shrinks the object until it fits within the space specified, while 
still keeping the proportions equal. When using cover, we can use another property called
object-position, to change which part of the shape we see. We can set the values of this to 
things such as left or right. When using contain, we can set the values of this to things such as
top and bottom, depending on the shape and what we want.*/

.video-preview {
  width: 300px;
  vertical-align: top;
  margin-right: 15px;
  display: inline-block;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
}

.thumbnail-row {
  display: inline-block;
  margin-bottom: 12px;
}

p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}
