.red-box {
  background-color: red;
  width: 50px;
  height: 50px;
}

.green-circle {
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.service-box {
  border-width: 1px;
  border-style: solid;
  width: 250px;
  height: 90px;
}

.service-question {
  margin-left: 15px;
  font-family: arial;
}

.service-yes {
  margin-left: 15px;
  margin-right: 0px;
}

.service-no {
  margin-left: 0px;
}

.youtube-music {
  background-color: rgb(36, 33, 33);
  width: 345px;
}

.youtube-title {
  color: white;
  font-weight: bold;
  font-family: arial;
  padding-top: 15px;
  padding-left: 10px;
  font-size: 23px;
}

.youtube-description {
  color: lightgrey;
  font-family: arial;
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: 15px;
  padding-right: 6px;
}
